
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    background-attachment: fixed;
    background-size: cover;
}


.deeperMenu {
    text-align: right;
    padding: 2% 5%;
    list-style-type: none; 
    font-family: 'Roboto', sans-serif;
    font-size: 2.3vh;
    animation: fadeDown 1.0s ease-in-out forwards;
}


.deeperMenu li {
    display: inline; 
    margin-right: 2%;
}

.deeperMenu a {
    text-decoration: none; /* fuq da underline */
    color: black; 
}
.deeperMenu li a:hover {
    color:#a3b18a;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(0px);
    }
    to {
        opacity: 1;
        transform: translateY(20px);
    }
}


#helloWorld{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 8vh;
    padding-left: 7%;
    padding-top: 8%;
    animation: fadeIn 1.0s ease-in-out forwards;
}
.white-text{
    color: #FFFDE4;
}

@keyframes lilGuyGoVroom {
    0% {
        transform: translate(20%, 20vh);
    }
    50% {
        transform: translate(70%, 20vh);
    }
    100% {
        transform: translate(20%, 20vh);
    }
}

#shrugText{
    font-family: 'Roboto', sans-serif;
    animation: lilGuyGoVroom 20s linear infinite;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

#box1, #box2, #box3 {
    background-color: #3498db;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 3vw; 
    padding: 5%; 
    margin: 5vw;
    border-radius: 30px;
    animation: fadeIn 1.0s ease-in-out forwards;
}
#uxImgs {
    text-align: center; 
}
.smallImg {
    max-width: 17%; 
    display: inline;
    margin: 10px; 
}
.portfolioTitle{
    font-family: 'Roboto', sans-serif;
    padding-left: 5%
}
.line-container {
    text-align: left; 
}
hr {
    width: 90%; 
    border: none; 
    background-color: #FF9999; 
    height: 3px;

}

.inlineLinkHere{
    color: black;
    text-decoration: none; 
    font-weight: bold;
}
.inlineLinkHere:hover{
    color:#FFFDE4;
    text-decoration: none; 
    font-weight: bold; 
}

#misleadImg {
    text-align: center;
}

#misleadingVIZ {
    display: block; 
    margin: 0 auto; 
}
#prettyGIF {
    text-align: center; 
}

#prettycoolGIF {
    width: 50%; 
    display: block; 
    margin: 0 auto; 
}
.contactText{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 3vh;
    padding-left: 7%;
    padding-top: 1%;
    animation: fadeIn 1.0s ease-in-out forwards;
}
#buttStuff{
    padding-bottom: 10%;

}


